---
import Programmer from '../components/Programmer.jsx';
---

<div class="min-h-screen flex items-center justify-center px-4 sm:px-6 lg:px-8 font-['Inter']">
  <main class="w-full max-w-4xl">
    <section class="relative w-full p-6 sm:p-8 md:p-12 lg:p-16 rounded-3xl backdrop-blur-sm bg-white/10 border border-gray-200 dark:border-[#39FF14] shadow-2xl">
      <div class="flex justify-center items-center">
        <div class="w-[80%] sm:w-[62%] md:w-[50%] lg:w-[40%]">
          <Programmer />
        </div>
      </div>
      
      <h1 class="text-left md:text-center mt-5 font-['Fira_Code'] text-[1.5rem] md:text-[2rem] font-bold text-[#0367A6] dark:text-[#39FF14] mb-4">
        Estamos en Mantenimiento
      </h1>
      
      <p class="text-left md:text-center font-['Fira_Code'] text-[1rem] md:text-[1.5rem] text-black mb-3 dark:text-gray-100 w-ful">
        Estamos trabajando arduamente para ofrecerte una mejor experiencia. 🚀
      </p>
    </section>
  </main>
</div>
