---
// src/components/Footer.astro
---

<footer class="bg-gray-900 text-white py-8">
    <div class="container mx-auto px-4 text-center">
        <div class="flex justify-center space-x-6 mb-4">
            <a href="#" class="hover:text-[#39FF14]">GitHub</a>
            <a href="#" class="hover:text-[#39FF14]">LinkedIn</a>
            <a href="#" class="hover:text-[#39FF14]">X/Twitter</a>
        </div>
        <p class="text-gray-400">&copy; 2025 yamid.dev - Todos los derechos reservados</p>
    </div>
</footer>