---
---
<div id="container" class="container mx-auto px-4 sm:px-6 lg:px-8">
	<main>
		<section id="maintenance">
			<h1>🚧 Sitio en Mantenimientooooo 🚧</h1>
			<p>Estamos trabajando arduamente para ofrecerte una mejor experiencia. 🚀</p>
			<p>
				Gracias por tu pacienciaaaa. ¡Vuelve prontoooo para descubrir lo nuevooooo!
			</p>
		</section>
	</main>
</div>

<style>

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', Arial, sans-serif;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #fff;
	}

	#maintenance {
		height: auto;
		width: auto;
		margin: 5%;
		padding: 7%;
		background: rgba(0, 0, 0, 0.7);
		border-radius: 16px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	}

	h1 {
		font-size: 28px;
		margin-bottom: 16px;
		color: #f0f0f0;
	}

	p {
		font-size: 18px;
		margin-bottom: 12px;
		color: #d1d5db;
	}
</style>
