---
import BlogPosts from '../components/molecules/BlogPosts';
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/organisms/Hero';
---
<!-- Posts grid -->
<MainLayout title="Blog Yamid Dev | Desarrollador Full Stack" isMain={false}>
  <Hero isHome={false} client:load>
    <div class="flex items-center justify-center ">  
      <h2 class="xs:text-[2rem] ls:text-[2.8rem] ms:text-[2.4rem] ss:text-[3rem] s:text-[3rem] sm:text-[3rem] md:text-[4rem] lg:text-[6rem] xl:text-[8rem] font-bold text-center mb-4 text-transparent bg-clip-text bg-gradient-to-r from-blue-600 via-blue-500 to-cyan-500 dark:from-cyan-400 dark:via-blue-500 dark:to-cyan-400">
        Artículos
      </h2>
    </div>
  </Hero>

  <div class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <BlogPosts client:load />
  </div>
</MainLayout>

