---
import MainLayout from '../layouts/MainLayout.astro';
import SectionAboutMe from '../components/AboutMe';
import Carousel from '../components/Carousel';
import Technology from '../components/Technology';
import '../styles/global.css'
import ContactForm from '../components/ContactForm';
import WhatsApp from '../components/WhatsApp';
import Hero from '../components/Hero'
import Blog from '../components/Blog'

// Forzar modo oscuro por defecto
const document = typeof window !== 'undefined' ? window.document : null;
document?.documentElement?.classList.add('dark');

---
<MainLayout title="Yamid Dev | Desarrollador Full Stack" isMain={true}>
  <WhatsApp client:load/>
  <div class="w-full flex flex-col items-center justify-center 
  bg-[#fff]
  dark:bg-[#020617] transition-colors duration-300
  dark:text-white 
  overflow-x-hidden overflow-y-hidden">
    <Hero client:load/>
    <Carousel client:load/>
    <SectionAboutMe/>
    <Blog client:load/>
    <div id="technology" class="w-full max-h- flex items-center justify-center">
      <Technology />
    </div>
    <ContactForm client:load />
  </div>
</MainLayout>