---
import MainLayout from '../layouts/MainLayout.astro';
import SectionAboutMe from '../components/organisms/AboutMe';
import Carousel from '../components/organisms/Carousel';
import Technology from '../components/organisms/Technology';
import '../styles/global.css'
import ContactForm from '../components/organisms/ContactForm';
import WhatsApp from '../components/molecules/WhatsApp';
import Hero from '../components/organisms/Hero'
import Blog from '../components/organisms/Blog';
import { motion } from 'framer-motion';

// Forzar modo oscuro por defecto
const document = typeof window !== 'undefined' ? window.document : null;
document?.documentElement?.classList.add('dark');

const fadeInUp = {
    hidden: { opacity: 0, y: 20 },
    visible: { opacity: 1, y: 0 }
  };
---
<MainLayout title="Yamid Dev | Desarrollador Full Stack" isMain={true}>
  <WhatsApp client:load/>
  <div class="w-full flex flex-col items-center justify-center 
  bg-[#fff]
  dark:bg-[#020617] transition-colors duration-300
  dark:text-white 
  overflow-x-hidden overflow-y-hidden">
    <Hero isHome={true} client:load>
      <motion.h1
          variants={fadeInUp}
          transition={{ delay: 0.2 }}
          className="text-[clamp(2.5rem,6vw,4.5rem)] font-bold tracking-tight pt-12 md:pt-5"
      >
      <span class="relative inline-block bg-clip-text text-transparent bg-gradient-to-r from-blue-600 via-blue-500 to-cyan-500 dark:from-cyan-400 dark:via-blue-500 dark:to-cyan-400 flex items-center justify-center text-[2.8rem] xs:text-[2rem] ls:text-[3.8rem] ms:text-[2.4rem] ss:txt-[3rem] s:text-[3.1rem] sm:text-[3.4rem] md:text-[4.5rem] lg:text-[6rem] xl:text-[8rem] leading-[1] md:leading-[1] font-[Inter]">
          Yamid Dev Oficial
      </span>
      </motion.h1>
    </Hero>
    <Carousel client:load/>
    <SectionAboutMe/> 
    <Blog client:load/>
    <div id="technology" class="w-full max-h- flex items-center justify-center">
      <Technology />
    </div>
    <ContactForm client:load />
  </div>
</MainLayout>