---
// Importa la función para obtener datos
import { getNotionData } from '../scripts/notion';
import MainLayout from '../layouts/MainLayout.astro';

const data = await getNotionData();
---

<!-- Renderiza los datos -->
<MainLayout title="Notion Data" isMain={false}>
    <div class="w-full h-[100vh] overflow-hidden grid items-center justify-center max-w-auto max-h-auto ">
        <ul class="list-disc w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-items-center gap-4 py-12">
            {data.map((item: any) => (
                <li class="flex items-center justify-start bg-[#fff] dark:bg-[#020617] transition-colors duration-300 w-full h-auto p-[5%]">{item.properties.Tema.title[0].plain_text}</li>
            ))}
        </ul>
    </div>
</MainLayout>
