---
import App from '../components/App'
---

<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
            rel="stylesheet"
        />
        <title>Responsive Astro Layout</title>
    </head>
    <body>        
        <App client:visible />
    </body>
</html>
