---
import App from '../components/App'
---

<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
        <title>Responsive Astro Layout</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            .custom-scroll::-webkit-scrollbar {
                width: 10px;
            }

            .custom-scroll::-webkit-scrollbar-track {
                background: #1a1f35;
                border-radius: 10px;
            }

            .dark .custom-scroll::-webkit-scrollbar-track {
                background: #e5e7eb;
            }

            .custom-scroll::-webkit-scrollbar-thumb {
                background: linear-gradient(180deg, #00ff66, #007733);
                border-radius: 10px;
                border: 2px solid #1a1f35;
            }

            .dark .custom-scroll::-webkit-scrollbar-thumb {
                border: 2px solid #e5e7eb;
            }

            .custom-scroll::-webkit-scrollbar-thumb:hover {
                background: linear-gradient(180deg, #00ff88, #009944);
            }

            .custom-scroll {
                scrollbar-width: thin;
                scrollbar-color: #00ff66 #1a1f35;
            }

            .dark .custom-scroll {
                scrollbar-color: #0f1411 #e5e7eb;
            }
        </style>
    </head>
    <body class="h-full overflow-y-auto custom-scroll">
        <App client:visible />
    </body>
</html>
