---
import Header from "../components/Nav";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body
    class="bg-white dark:bg-gray-800 text-gray-800 dark:text-white transition-colors duration-300 flex flex-col min-h-screen"
  >
    <Header client:load />
    <main class="w-full flex flex-col items-center justify-center flex-grow">
      <slot />
    </main>
    <Footer />
    <script src="../assets/js/script.js"></script>
  </body>
</html>
